<% provide(:title, "Log in") %>
   <head>
    <style>

       body {
            background-color: #e4e7f9;
            font-family: Verdana;
            text-align: center;
        }
      form {
            background-color: #fff;
            max-width: 3000px;
            margin: 50px auto;
            padding: 30px 20px;
            box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        }
      
      .main_text{
      color: #ccccff; 
       font-family: ‘Raleway’,sans-serif;
       font-size: 40px; 
       font-weight: 800; 
       line-height: 72px;
       margin: 0 0 24px; 
       text-align: center; 
       text-transform: uppercase;}
      
      .dashboard {
            text-align: right;
            margin-bottom: 25px;
            font-size:20px;
            padding: 25px;
        }
      .c-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #e4e7f9;
  padding: 8px 16px;
  font-size: 16px;
}
    </style>
  </head>
<h1>Авторизация</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :emai, 'Электронная почта' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, 'Пароль' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Войти", class: "btn btn-primary" %>
    <% end %>

    <p>Новый пользователь? <%= link_to "Зарегистрируйтесь!", signup_path %></p>
  </div>
</div>
