<% provide(:title, 'Sign up') %>
  <head>
    <style>
     .dashboard {
            text-align: right;
            margin-bottom: 25px;
            font-size:20px;
            padding: 25px;
        }
      .c-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #fff;
  color: #e4e7f9;
  padding: 8px 16px;
  margin: 2px;
  font-size: 16px;
}
    </style>
  </head>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
  <div class = "dashboard">
    <button class = "c-button"><%= link_to "Главная страница",    root_path %></button> 
     <button class = "c-button"> <%= link_to "Подобрать фильм",   questions_path %></button>
     <button class = "c-button"> <%= link_to "Избранное",    favourites_path %></button>
     <button class = "c-button"> <%= link_to "Войти", login_path %></button>
     <button class = "c-button"> <%= link_to "Помощь",   help_path %></button>
    </div>