   <head>
    <style>

      color: #9932CC; 
       font-family: ‘Raleway’,sans-serif;
       font-size: 40px; 
       font-weight: 800; 
       line-height: 72px;
       margin: 0 0 24px; 
       text-align: center; 
       text-transform: uppercase;

    </style>
  </head>
  <body>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
              <li><%= link_to "Профиль", current_user %></li>
              <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
              <li><%= link_to "Помощь", help_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Выйти", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Войти", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<body>